<div class="container mt-5">
  <form [formGroup]="form">
      <div class="row">
        <mat-form-field>
          <mat-select placeholder="Gender" formControlName="gender">
            <mat-option value="Male">Male</mat-option>
            <mat-option value="Female">Female</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field>
            <mat-select placeholder="Interested in" formControlName="lookingFor">
              <mat-option value="Male">Male</mat-option>
              <mat-option value="Female">Female</mat-option>
            </mat-select>
        </mat-form-field>
      </div>
  </form>
  <button class="btn btn-primary float-left m-1">Cancel</button>
  <button class="btn btn-primary float-left m-1">Back</button>
  <button class="btn btn-primary float-right m-1">Next</button>
</div>
