<div class="container mt-5">
  <div class="row mt-2">
    <input matInput readonly placeholder="First Name" [value]="routeParams.firstName">
  </div>
  <div class="row mt-2">
    <input matInput readonly placeholder="Last Name" [value]="routeParams.lastName">
  </div>
  <div class="row mt-2">
    <input matInput readonly placeholder="Email" [value]="routeParams.email">
  </div>
  <div class="row mt-2">
    <input matInput readonly placeholder="Gender" [value]="routeParams.gender">
  </div>
  <div class="row mt-2">
    <input matInput readonly placeholder="LookingFor" [value]="routeParams.lookingFor">
  </div>
  <div class="row mt-2">
    <input matInput readonly placeholder="Hobbies" [value]="routeParams.hobbies">
  </div>
  <div class="row mt-2">
    <input matInput readonly placeholder="Description" [value]="routeParams.description">
  </div>
  <button class="btn btn-primary float-left m-1" (click)="reset()">Cancel</button>
  <button class="btn btn-primary float-left m-1" (click)="goToHobbies()">Back</button>
  <button class="btn btn-primary float-right m-1" (click)="save()">Save</button>
</div>
